<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles/style.css">
    <title>My Blog</title>
  </head>
  <body>
    <header>
        <nav class="header__nav">
            <div class="header__nav-brand">
                MYBLOG
            </div>

            <ul class="header__nav-menu">
                <li><a href="/">Home</a></li>
                <li><a href="/compose">Compose</a></li>
                <li><a href="/blogs">Blogs</a></li>
                <li><a href="/about">About-us</a></li>
            </ul>
        </nav>
    </header>