<%- include("partials/header") %>

<main>
  <div class="about-us">
    <h2>ABOUT US</h2>
    <p>
      Welcome to My Blog – a digital space where passion meets knowledge. At My
      Blog, we are dedicated to bringing you insightful and engaging content
      that spans a wide range of topics, from the latest trends in technology to
      lifestyle hacks that enhance your everyday experiences. Our team of
      experienced writers is committed to delivering content that not only
      informs but also inspires and entertains. Whether you're a tech
      enthusiast, a wellness seeker, or someone just looking for a good read,
      [Your Blog Name] is your go-to destination. Join us on this journey as we
      explore, learn, and share the stories that matter. We believe in the power
      of words to connect, and we're excited to have you as part of our
      community!
    </p>
  </div>
</main>

<%- include("partials/footer") %>
