<%- include("partials/header") %>

<main>
  <div class="hero">
    <div class="hero__content">
      <h1>Exploring Code: A Developer's Journey</h1>
      <p>
        Dive into the world of software development with me. Discover tips,
        tutorials, and real-life experiences from the tech industry. Let's learn
        and grow together.
      </p>
    </div>

    <div class="hero__buttons">
      <a class="btn" href="/compose">Compose</a>
      <a class="btn" href="/blogs">Blogs</a>
    </div>
  </div>
</main>

<%- include("partials/footer") %>
